	<div class="wrapper">
		<div id="content-wrapper">
		
			<div id="header">
				<h1 class="title">Sua Pesquisa</h1>
			</div><!-- header -->
			<div id="header-bar">
                <span id="step_definition" class="right">Você está no passo 1 de 2</span>
			</div>
			<div id="form-fields">
		      <%= form_for :passo, :as => "passo", :url => {:action  => 'create'}, :html => {:id => "passo_form"} do |f| %>
		          <%= f.hidden_field :passo_id, :value => "1" %>
		          <fieldset id="dados_contato">
		            <legend>Dados do contato</legend>
		            <ol>
		              <li class="form-row form-text">
		                <%= f.label(:endereco, :class => "question")%>
		                <%= f.text_field :endereco, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>


		              <li class="form-row form-text">
		                <%= f.label(:numero, :class => "question")%>
		                <%= f.text_field :numero, :size => 10, :maxlength => 10, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:bairro, :class => "question")%>
		                <%= f.text_field :bairro, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:cidade, :class => "question")%>
		                <%= f.text_field :cidade, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:estado, :class => "question")%>
		                <%= f.select :estado, 
		                     options_for_select([
		                      ["Selecione um estado", ""],  
		                      ["AC"],  
		                      ["AL"],  
		                      ["AM"],  
		                      ["AP"],  
		                      ["BA"],  
		                      ["CE"],  
		                      ["DF"],   
		                      ["ES"],  
		                      ["GO"],  
		                      ["MA"],  
		                      ["MG"],  
		                      ["MS"],  
		                      ["MT"], 
		                      ["PA"],  
		                      ["PB"],  
		                      ["PE"],  
		                      ["PI"],  
		                      ["PR"], 
		                      ["RJ"],  
		                      ["RN"],  
		                      ["RS"],  
		                      ["RO"],  
		                      ["RR"],  
		                      ["SC"],  
		                      ["SE"],  
		                      ["SP"],  
		                      ["TO"]
		                ]), {}, {:class => "required"}%>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:telefone_residencial, :class => "question")%>
		                <%= f.text_field :telefone_residencial, :size => 11, :maxlength => 13, :class => "required telefone"%>

		              </li>
		             </ol>
		          </fieldset>

		          <fieldset id="perfil">
		            <legend>Perfil</legend>
		            <ol>
		              <li class="form-row form-text">
		                <%= f.label(:atualmente_esta, :class => "question")%>
		                <%= f.radio_button :atualmente_esta, "solteiro"%><label><%= t :solteiro%></label>
		                <%= f.radio_button :atualmente_esta, "casado"%><label><%= t :casado%></label>
		                <%= f.radio_button :atualmente_esta, "separado"%><label><%= t :separado%></label>
		                <%= f.radio_button :atualmente_esta, "viuvo"%><label><%= t :viuvo%></label>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:tem_filhos, :class => "question")%>
		                <%= f.radio_button :tem_filhos, "sim"%><label><%= t :sim%></label>
		                <%= f.radio_button :tem_filhos, "nao"%><label><%= t :nao%></label>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:quantos_filhos, :class => "question")%>
		                <%= f.select :quantos_filhos, 
		                     options_for_select([
		                      ["Selecione uma opção", ""],  
		                      ["1"],  
		                      ["2"],  
		                      ["3"],  
		                      ["4"],  
		                      ["5"],  
		                      ["6"],  
		                      ["7"],   
		                      ["8"],  
		                      ["9"],  
		                      ["10"]
		                ]) %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:sexo_filho, :class => "question")%>
		                <%= f.radio_button :sexo_1_filho, "masculino"%><label><%= t :masculino%></label>
		                <%= f.radio_button :sexo_1_filho, "feminino"%><label><%= t :feminino%></label>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:data_nascimento_filho, :class => "question", :readonly => true)%>
		                <%= f.text_field :data_nascimento_1_filho, :size => 10, :maxlength => 10 %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:mora_com_voce, :class => "question")%>
		                <%= f.radio_button :mora_com_voce_1_filho, "sim"%><label><%= t :sim%></label>
		                <%= f.radio_button :mora_com_voce_1_filho, "nao"%><label><%= t :nao%></label>
		              </li>

		            </ol>
		          </fieldset>

		          <fieldset id="escolaridade">
		            <legend>Escolaridade</legend>
		            <ol>
		              <li class="form-row form-text">
		                <%= f.label(:grau_instrucao, :class => "question-long")%>
		                <%= f.select :grau_instrucao, 
		                     options_for_select([
		                      ["Selecione uma opção", ""],  
		                      ["Primeiro grau"],  
		                      ["Segundo grau"],  
		                      ["Graduação"],  
		                      ["Pós-graduação"],  
		                      ["Mestrado"],  
		                      ["Doutorado"],  
		                      ["MBA"],   
		                      ["Pós-doutorado"]
		                ]) %>
		              </li>
		              <li class="form-row form-text">
		                <%= f.label(:estuda_momento, :class => "question-long")%>
		                <%= f.radio_button :estuda_momento, "sim"%><label><%= t :sim%></label>
		                <%= f.radio_button :estuda_momento, "nao"%><label><%= t :nao%></label>
		              </li>

		             </ol>
		          </fieldset>
				  <div id="form-action">
		          	<%= f.submit(t(:proximo_passo), :class => "button green") %>
				  </div>
		      <%end%>
			</div><!-- form-fields -->
		</div><!-- content-wrapper -->
		<div id="footer">
			<p>Megon internet services - 2011</p>
		</div>
	</div><!-- wrapper -->

<script type="text/javascript">

  $(document).ready(function(){
    $("#passo_form").validate();
    $("#passo_telefone_residencial").mask("(99)9999-9999",{placeholder:" "});
  });

$(document).ready(function() {
  $(function() {
    $.datepicker.setDefaults( $.datepicker.regional[ "pt-BR" ] );
    $("#passo_data_nascimento_1_filho").datepicker({maxDate: "-10Y", changeMonth: true, changeYear: true});
  });
});
</script>

