		      <%= form_for :passo, :as => "passo", :url => {:action  => 'create'}, :html => {:id => "passo_form"} do |f| %>
		          <%= f.hidden_field :passo_id, :value => "1" %>
		          <fieldset id="dados_contato">
		            <legend>Dados do contato</legend>
		            <ol>
		              <li class="form-row form-text">
		                <%= f.label(:endereco, :class => "question")%>
		                <%= f.text_field :endereco, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>


		              <li class="form-row form-text">
		                <%= f.label(:numero, :class => "question")%>
		                <%= f.text_field :numero, :size => 10, :maxlength => 10, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:bairro, :class => "question")%>
		                <%= f.text_field :bairro, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:cidade, :class => "question")%>
		                <%= f.text_field :cidade, :size => 50, :maxlength => 100, :class => "required" %>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:estado, :class => "question")%>

                    <%estado_selecionado= @passo.estado unless @passo.nil? %>
		                <%= f.select :estado, 
		                     options_for_select([
		                      ["AC"],  
		                      ["AL"],  
		                      ["AM"],  
		                      ["AP"],  
		                      ["BA"],  
		                      ["CE"],  
		                      ["DF"],   
		                      ["ES"],  
		                      ["GO"],  
		                      ["MA"],  
		                      ["MG"],  
		                      ["MS"],  
		                      ["MT"], 
		                      ["PA"],  
		                      ["PB"],  
		                      ["PE"],  
		                      ["PI"],  
		                      ["PR"], 
		                      ["RJ"],  
		                      ["RN"],  
		                      ["RS"],  
		                      ["RO"],  
		                      ["RR"],  
		                      ["SC"],  
		                      ["SE"],  
		                      ["SP"],  
		                      ["TO"]
		                ], estado_selecionado), {:prompt => "Selecione um estado"}, {:class => "required"}%>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:telefone_residencial, :class => "question")%>
		                <%= f.text_field :telefone_residencial, :size => 13, :maxlength => 13, :class => "required telefone"%>

		              </li>
		             </ol>
		          </fieldset>

		          <fieldset id="perfil">
		            <legend>Perfil</legend>
		            <ol>
		              <li class="form-row form-text">
		                <%= f.label(:atualmente_esta, :class => "question")%>
		                <label><%= f.radio_button :atualmente_esta, "solteiro"%><%= t :solteiro%></label>
		                <label><%= f.radio_button :atualmente_esta, "casado"%><%= t :casado%></label>
		                <label><%= f.radio_button :atualmente_esta, "separado"%><%= t :separado%></label>
		                <label><%= f.radio_button :atualmente_esta, "viuvo"%><%= t :viuvo%></label>
                    <%= f.radio_button :atualmente_esta, "nil", :style => "display: none;", :checked => @passo.nil? or @passo.atualmente_esta.nil?%>
		              </li>

		              <li class="form-row form-text">
		                <%= f.label(:tem_filhos, :class => "question")%>
		                <label><%= f.radio_button :tem_filhos, "sim"%><%= t :sim%></label>
		                <label><%= f.radio_button :tem_filhos, "nao"%><%= t :nao%></label>
                    <%= f.radio_button :tem_filhos, "nil", :style => "display: none;", :checked => @passo.nil? or @passo.tem_filhos.nil?%>
		              </li>
                  <div id="quantos_filhos" style="display: none">
		                <li class="form-row form-text">
                      <%quantos_filhos_selecionado= @passo.quantos_filhos unless @passo.nil? %>
		                  <%= f.label(:quantos_filhos, :class => "question")%>
		                  <%= f.select :quantos_filhos, 
		                     options_for_select([
		                      ["1"],  
		                      ["2"],  
		                      ["3"],  
		                      ["4"],  
		                      ["5"],  
		                      ["6"],  
		                      ["7"],   
		                      ["8"],  
		                      ["9"],  
		                      ["10"]
		                      ], quantos_filhos_selecionado), {:prompt => "Selecione uma opção"} %>
		                </li>
		              </div>
                  <div id="div_filhos" style="display: none">
		                <li class="form-row form-text">
                      <table id="tabela_filhos" width="70%">
                        <tr>
                          <th width="61">&nbsp;</th>
                          <th width="200"> <div align="center"></div>
                          <div align="center" ><%= f.label(:sexo_filho)%></div></th>
                          <th width="198"><div align="center"><%= f.label(:data_nascimento_filho)%></div></th>
                          <th width="119"><div align="center"><%= f.label(:mora_com_voce)%></div></th>
                        </tr>
                          <%= render(:partial => 'filhos', :locals => {:f => f, :total => 10})%>
                      </table>
		                </li>
		              </div>

		            </ol>
		          </fieldset>

		          <fieldset id="escolaridade">
		            <legend>Escolaridade</legend>
		            <ol>
		              <li class="form-row form-text">
                    <%grau_instrucao_selecionado= @passo.grau_instrucao unless @passo.nil? %>
		                <%= f.label(:grau_instrucao, :class => "question-long")%>
		                <%= f.select :grau_instrucao, 
		                     options_for_select([
		                      ["Primeiro grau"],  
		                      ["Segundo grau"],  
		                      ["Graduação"],  
		                      ["Pós-graduação"],  
		                      ["Mestrado"],  
		                      ["Doutorado"],  
		                      ["MBA"],   
		                      ["Pós-doutorado"]
		                ], grau_instrucao_selecionado), {:prompt => "Selecione uma opção"} %>
		              </li>
		              <li class="form-row form-text">
		                <%= f.label(:estuda_momento, :class => "question-long")%>
		                <label><%= f.radio_button :estuda_momento, "sim"%><%= t :sim%></label>
		                <label><%= f.radio_button :estuda_momento, "nao"%><%= t :nao%></label>
                    <%= f.radio_button :estuda_momento, "nil", :style => "display: none;", :checked => @passo.nil? or @passo.estuda_momento.nil? %>
		              </li>

		             </ol>
		          </fieldset>
				  <div id="form-action">
		          	<%= f.submit(t(:proximo_passo), :class => "button green") %>
				  </div>
		      <%end%>

<script type="text/javascript">
$(document).ready(function(){
  exibir_filhos();
  $("#passo_quantos_filhos").change(exibir_filhos);
  $("#passo_tem_filhos_sim").change(
  	function(){
  		if ($("#passo_tem_filhos_sim:checked").val()){
  		  ocultar_filhos();
        exibir_filhos();
      }
	});
  $("#passo_tem_filhos_nao").change(
  	function(){
  		if ($("#passo_tem_filhos_nao:checked").val()){
        ocultar_filhos();
      }
	});

});

function exibir_filhos(){
  $('#quantos_filhos').fadeIn("slow");
  if ($('#passo_quantos_filhos').val()>0){
    $('#div_filhos').show();
    for (i = 0; i <= $('#passo_quantos_filhos').val(); i++){
      $('#filho_' + i).fadeIn("slow");
      $('#passo_data_nascimento_filho_' + i).mask('99/99/9999',{placeholder:' '});
      $('#passo_data_nascimento_filho_' + i).addClass('dateBR');
      $('#passo_sexo_filho_' + i + '_masculino').addClass('required');     
      $('#passo_mora_com_voce_filho_' + i + '_sim').addClass('required');
    }
  }
}

function ocultar_filhos(){
  $('#quantos_filhos').fadeOut();
  $('#div_filhos').fadeOut();
  $('#passo_quantos_filhos').val(0);
    
  for (i = 0; i <= 10; i++){
    $('#filho_' + i).hide();
  }
  if ($('#passo_quantos_filhos').val()>0){
    for (i = 0; i <= $('#passo_quantos_filhos').val(); i++){
      $('#passo_data_nascimento_filho_' + i).removeClass('dateBR');
      $('#passo_sexo_filho_' + i + '_masculino').removeClass('required');      
      $('#passo_mora_com_voce_filho_' + i + '_sim').removeClass('required');
    }
  }
}
</script>
