      <%= form_for :passo, :url => { :action  => 'create' }, :html => {:id => "passo_form"} do |f| %>
          <%= f.hidden_field :passo_id, :value => "2" %>
          <fieldset id="sua_casa">
            <legend>Sua casa</legend>
            <ol>
              <li class="form-row form-text">
                <%situacao_casa_selecionado= @passo.situacao_casa unless @passo.nil? %>

                <%= f.label(:situacao_casa, :class => "question-long")%>
				<div>
	                <%= f.select :situacao_casa, 
	                     options_for_select([
	                      ["Alugada"],  
	                      ["Própria quitada"],  
	                      ["Própria financiada"],  
	                      ["Emprestada de terceiros"]
	                ], situacao_casa_selecionado), {:prompt => "Selecione uma opção"}, {:class => "validate[required]"} %>
				</div>
              </li>

              <li class="form-row form-text">
                <%= f.label(:eletrodomesticos, :class => "question-long")%><br>
				<ul style="float:left; display: block; width: 260px;">
			       <li class="form-sublist form-text">
		              <%= f.label(:tv_em_cores)%>
		              <%= f.text_field :tv_em_cores, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
			       <li class="form-sublist form-text">
	                <%= f.label(:radio)%>
	                <%= f.text_field :radio, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
			       <li class="form-sublist form-text">
	                <%= f.label(:dvd)%>
	                <%= f.text_field :dvd, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
				</ul>
				<ul style="float:left; display: block; width: 260px;">
			       <li class="form-sublist form-text">
	                <%= f.label(:home_theater)%>
	                <%= f.text_field :home_theater, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
			       <li class="form-sublist form-text">
	                <%= f.label(:notebook)%>
	                <%= f.text_field :notebook, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
			       <li class="form-sublist form-text">
	                <%= f.label(:tablet)%>
	                <%= f.text_field :tablet, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
			       <li class="form-sublist form-text">
	                <%= f.label(:mp3)%>
	                <%= f.text_field :mp3, :size => 4, :maxlength => 2, :value => 0, :class => "number" %>
				   </li>
				</ul>
              </li>

              <li class="form-row form-text">
                <%= f.label(:possui_tv_assinatura, :class => "question-long")%>
                <label><%= f.radio_button :possui_tv_por_assinatura, "sim", :class => "validate[required] radio"%><%= t :sim%></label>
                <label><%= f.radio_button :possui_tv_por_assinatura, "nao", :class => "validate[required] radio"%><%= t :nao%></label>
                <%= f.radio_button :possui_tv_por_assinatura, "nil", :hidden => "true", :checked => @passo.nil? or  @passo.possui_tv_por_assinatura.nil?%>
              </li>
              <div id="operadora_tv_assinatura" style="display: none">
                <li class="form-row form-text">
                  <%= f.label(:operadora_tv_assinatura, :class => "question")%>
                  <%operadora_tv_assinatura_selecionado= @passo.operadora_tv_assinatura unless @passo.nil? %>
                  <%= f.select :operadora_tv_assinatura, 
                       options_for_select([
                        ["NET"],  
                        ["SKY"],  
                        ["TVA"],  
                        ["Outra"]
                  ], operadora_tv_assinatura_selecionado), {:prompt => "Selecione uma opção"} %>
                </li>
              </div>

             </ol>
          </fieldset>

          <fieldset id="investimento">
            <legend>Seus investimentos</legend>
            <ol>
              <li class="form-row form-text">
	              <%= f.label(:renda, :class => "question-long")%><br>
		            <div class="left">    
		                <%= f.label(:renda_individual)%>

                    <%renda_individual_selecionado= @passo.renda_invididual unless @passo.nil? %>
		                <%= f.select :renda_individual, 
		                     options_for_select([
		                      ["Não possuo renda individual"],  
		                      ["Até R$545,00"],  
		                      ["De R$546,00 até R$1.040,00"],  
		                      ["De R$1.041,00 até R$2.600,00"],  
		                      ["De R$2.601,00 até R$3.900,00"],  
		                      ["De R$3.901,00 até R$6.500,00"],  
		                      ["De R$6.501,00 até R$9.100,00"],  
		                      ["Acima de R$9.101,00"]
		                ], renda_individual_selecionado), {:prompt => "Selecione uma opção"}, {:class => "validate[required]"} %>
					</div>
					<div class="left" style="padding-left: 35px;">
		                <%= f.label(:renda_familiar)%>

                    <%renda_familiar_selecionado= @passo.renda_familiar unless @passo.nil? %>
		                <%= f.select :renda_familiar, 
		                     options_for_select([
		                      ["Até R$545,00"],  
		                      ["De R$546,00 até R$1.040,00"],  
		                      ["De R$1.041,00 até R$2.600,00"],  
		                      ["De R$2.601,00 até R$3.900,00"],  
		                      ["De R$3.901,00 até R$6.500,00"],  
		                      ["De R$6.501,00 até R$9.100,00"],  
		                      ["Acima de R$9.101,00"]

		                ], renda_familiar_selecionado), {:prompt => "Selecione uma opção"}, {:class => "validate[required]"} %>
				   </div>
			  </li>
              <li class="form-row form-text">
                <%= f.label(:cartao_credito, :class => "question-long")%>
              	<label><%= f.radio_button :cartao_credito, "sim", :class => "validate[required] radio"%><%= t :sim%></label>
              	<label><%= f.radio_button :cartao_credito, "nao", :class => "validate[required] radio"%><%= t :nao%></label>
              	<%= f.radio_button :cartao_credito, "nil", :hidden => "true", :checked => @passo.nil? or @passo.cartao_credito.nil?%>
              </li>
              <div id="cartao_credito" style="display: none">
                <li class="form-row form-text">
                  <%= f.label(:quais_cartoes_credito, :class => "question")%>
                  <%= f.check_box :visa, :class => "checkbox", :validate => "required:true"%>
                  <%= f.label(:visa)%>
                  <%= f.check_box :mastercard%>
                  <%= f.label(:mastercard)%>
                  <%= f.check_box :american_express%>
                  <%= f.label(:american_express)%>
                  <%= f.check_box :outros%>
                  <%= f.label(:outros)%>
                </li>
              </div>    

            </ol>
          </fieldset>

		  <div id="form-action">
      	 <%= f.submit(t(:proximo_passo), :class => "button green") %>
		  </div>
          
      <%end%>

