<h2>Você completou nossa pesquisa.</h2><br><br>
Aproveite e convide seus amigos para participar de nossa pesquisa.
Cada um deles irá receber um email com o link de acesso para participar.

<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
  
<%= form_for :indicacao, :url => { :action  => 'create' } do |f| %>
  <div id="convidado">
    <table id="tabela_convidado">
          <%= render(:partial => 'indicacao')%>
    </table>
  </div>
  <div id="form-action">
    <%= f.submit "Enviar", :class =>"button green" %> ou
	<%= add_indicacao_link %>
  </div> 
<%end%>