	<div class="wrapper">
		<div id="header">
			<img height="23" width="156" src="images/megon-logo.png" alt="Megon" style="float: left; margin-top: 6px;">
			<div id="site_menu" class="left">
			</div><!-- site_menu -->
		</div>
	</div><!-- header -->
	<div class="wrapper">
		<div id="content">

      Você completou nossa pesquisa.<br><br>
      Aproveite e convide seus amigos para participar de nossa pesquisa.
      Cada um deles irá receber um email com o link de acesso para participar.

      <div id="indicacao">
        <% if flash[:notice] %>
          <p id="notice" ><%= flash[:notice] %></p>
        <% end %>
        

        <%= form_for :indicacao, :url => { :action  => 'create' } do |f| %>
          <table>
            <div class="convidado">
              <tr>  
                <td>
                  <%= f.label(:nome)%>
                  <%= f.text_field :nome, :size => 35, :class=>"input_text", :maxlength => 100 %>
                  <div class="clean-red">
                    <%= f.error_message_on :nome%>
                  </div>  
                </td>
                <td>
                  <%= f.label(:email)%>
                  <%= f.text_field :email, :size => 35, :class=>"input_text", :maxlength => 100 %>
                  <div class="clean-red">
                    <%= f.error_message_on :email%>
                  </div>  
                </td>
              </tr>
            </div>
          </table>
          <%= f.submit "Enviar", :class =>"button green" %>
          ou
          <a href="#" id="addConvidado">Convide mais um amigo</a>
        <%end%>
      </div>
		</div>
	</div>
<script type="text/javascript">
$().ready(function() {
        alert($('#convidado').html());
				var nextUrlId = 2;
				$('div.convidado').click(function(){
					$('<p />').attr('id', 'urlParagraph' + nextUrlId)
							  .text("URL: ")
							  .appendTo('#inputBoxes');
					$('<input />').attr({'type':'text', 'id':'url' + nextUrlId})
								  .appendTo('#urlParagraph' + nextUrlId);
					nextUrlId++;
				});
});
</script>


<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	</head>
	<body>
		<form id="myForm" action="somePage.php" method="get">
			<div id="inputBoxes">
				<p id="nameParagraph">Name: <input type="text" id="name" /></p>
				<p id="urlParagraph1">URL: <input type="text" id="url1" /></p>
			</div>
			<p><input type="submit" id="submit" /> or <a href="#" id="AddUrl">Add another URL</a></p>
		</form>
	</body>
		<script type="text/javascript">
			$(document).ready(function(){
				var nextUrlId = 2;
				$('#AddUrl').click(function(){
					$('<p />').attr('id', 'urlParagraph' + nextUrlId)
							  .text("URL: ")
							  .appendTo('#inputBoxes');
					$('<input />').attr({'type':'text', 'id':'url' + nextUrlId})
								  .appendTo('#urlParagraph' + nextUrlId);
					nextUrlId++;
				});
			});
		</script>
</html>
