
<%= form_for :participante, :url => { :action  => 'create' } do |f| %>
    <fieldset id="cadastro_participante">
      <ol>
        <li>
          <%= f.label(:nome)%>
          <%= f.text_field :nome, :class=>"input_text", :style =>'width:270px', :maxlength => 100 %>
          <div class="clean-red">
            <%= f.error_message_on :nome%>
          </div>
        </li>
        <li>
          <%= f.label(:email)%>
          <%= f.text_field :email, :class=>"input_text",:style =>'width:270px', :maxlength => 100 %>
          <div class="clean-red">
            <%= f.error_message_on :email%>
          </div>
        </li>
        <li>
          <%= f.label(:email_confirmation)%>
          <%= f.text_field :email_confirmation, :class=>"input_text",:style =>'width:270px', :maxlength => 100 %>
          <div class="clean-red">
            <%= f.error_message_on :email_confirmation%>
          </div>
        </li>
        <li>
          <%= f.label(:cpf)%>
          <%= f.text_field :cpf, :size => 20, :class=>"input_text number", :maxlength => 14 %>
          <div class="clean-red">
            <%= f.error_message_on :cpf%>
          </div>
        </li>
        <li>
          <%= f.label(:data_nascimento)%>
          <%= f.text_field :data_nascimento, :size => 20, :class=>"input_text", :maxlength => 10%>
          <div class="clean-red">
            <%= f.error_message_on :data_nascimento%>
          </div>
        </li>
       </ol>
    </fieldset>
<div id="actions-bar">
    	<%= f.submit "Participar", :class =>"button azul" %>
</div>
<%end%>

    <script type="text/javascript">
/*
      var today = new Date()
      var year = today.getFullYear();
      var minDate = (year - 80)
      var maxDate = (year - 10)
      var defaultDate = today.getDay() + "/" + today.getMonth() + "/" + maxDate
*/
		$(document).ready(function() {
          $("#participante_cpf").mask("999.999.999-99",{placeholder:" "});
          $("#participante_data_nascimento").mask("99/99/9999",{placeholder:" "});

/*
        $(function() {
          $.datepicker.setDefaults( $.datepicker.regional[ "pt-BR" ] );
          $("#participante_data_nascimento").datepicker({maxDate: maxDate, changeMonth: true, changeYear: true, yearRange: minDate + ":" + maxDate, defaultDate: defaultDate});
        });
*/
        });
    </script>
