<div id="wrapper">
	<div id="cabecalho">
		<h1>PESQUISA MEGON <span class="vermelho-escuro">2011<span></span></span></h1>
		<ul id="menu"><li><a href="#">Regulamento</a></li><li><a href="#">Consultar Cupons</a></li></ul>
		<div style="width: 500px;">
			<h2>Estamos realizando esta pesquisa para saber sua opinião sobre nosso produto e com isso melhorarmos a qualidade do mesmo.</h2>
		</div>
	</div>
	
	<div id="conteudo">
		<div id="propaganda">
			<img src="images/ipad2.png">
		</div>
		<div id="participante">
			<div id="dados">
	            <%= form_for :participante, :url => { :action  => 'create' } do |f| %>
	                <fieldset id="cadastro_participante">
	                  <ol>
	                    <li>
	                      <%= f.label(:nome)%>
	                      <%= f.text_field :nome, :class=>"input_text", :style =>'width:270px', :maxlength => 100 %>
	                      <div class="clean-red">
	                        <%= f.error_message_on :nome%>
	                      </div>
	                    </li>
	                    <li>
	                      <%= f.label(:email)%>
	                      <%= f.text_field :email, :class=>"input_text",:style =>'width:270px', :maxlength => 100 %>
	                      <div class="clean-red">
	                        <%= f.error_message_on :email%>
	                      </div>
	                    </li>
	                    <li>
	                      <%= f.label(:email_confirmation)%>
	                      <%= f.text_field :email_confirmation, :class=>"input_text",:style =>'width:270px', :maxlength => 100 %>
	                      <div class="clean-red">
	                        <%= f.error_message_on :email_confirmation%>
	                      </div>
	                    </li>
	                    <li>
	                      <%= f.label(:cpf)%>
	                      <%= f.text_field :cpf, :size => 20, :class=>"input_text number", :maxlength => 14 %>
	                      <div class="clean-red">
	                        <%= f.error_message_on :cpf%>
	                      </div>
	                    </li>
	                    <li>
	                      <%= f.label(:data_nascimento)%>
	                      <%= f.text_field :data_nascimento, :size => 20, :class=>"input_text", :maxlength => 10%>
	                      <div class="clean-red">
	                        <%= f.error_message_on :data_nascimento%>
	                      </div>
	                    </li>
	                   </ol>
	                </fieldset>
					<div id="actions-bar">
	                	<%= f.submit "Participar", :class =>"button azul" %>
					</div>
	            <%end%>
			</div> <!-- dados -->
		</div><!-- participante -->					
	</div> <!-- Conteúdo -->

</div> <!-- wrapper -->
    <script type="text/javascript">
      if (typeof jQuery == 'undefined')
      {
	      document.write(unescape("%3Cscript src='javascripts/jquery-1.5.1.min.js' type='text/javascript'%3E%3C/script%3E"));
	      document.write(unescape("%3Cscript src='javascripts/jquery-ui-1.8.11.custom.min.js' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='javascripts/jquery-ui-i18n.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>

    <script type="text/javascript">
/*
      var today = new Date()
      var year = today.getFullYear();
      var minDate = (year - 80)
      var maxDate = (year - 10)
      var defaultDate = today.getDay() + "/" + today.getMonth() + "/" + maxDate
*/
		  $(document).ready(function() {
        $("#participante_cpf").mask("999.999.999-99",{placeholder:" "});
        $("#participante_data_nascimento").mask("99/99/9999",{placeholder:" "});
/*
        $(function() {
          $.datepicker.setDefaults( $.datepicker.regional[ "pt-BR" ] );
          $("#participante_data_nascimento").datepicker({maxDate: maxDate, changeMonth: true, changeYear: true, yearRange: minDate + ":" + maxDate, defaultDate: defaultDate});
        });
*/
      });
    </script>
